*{
  margin: 0;
  padding: 0;  
}

body{
  width: 100%;
  height: 100vh;  
  box-sizing: border-box;
  font-family: 'Open Sans';
}

header{
  display: flex;
  width: 100%;
  height: 80px;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  background-color: #7477bf;
  color: #fff;
}

.wrap-top-nav{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

header h1{
  font-size: 20px;
  font-weight: 100;
  margin-left: 20px;
}

header h1 span{
  font-weight: 900;
}

.group{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header .divider{
  border-left: 1px solid #aaa;
  height: 35px;
  margin: 0 15px;
}

.top-icon{
  display: flex;
  justify-content: space-evenly;
}

.top-icon img{
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.top-icon p{
  margin-left: 15px;
  align-self: center;
}

svg[aria-label="Bell-icon"]{
  width: 25px;
  height: 25px;
  fill: #fff;
  margin-top: 5px;
}

.main-div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav{
  display: flex;
  height: 80px;
  justify-content: center;
  background-color: #4D4C72;
}

.svg-icon{
  fill: #fff;
  width: 35px;
  height: 35px;
}

.main-nav div{
  margin: 10px;
  padding: 10px;
}

/*DISPLAY FLEX &
MARGIN, PADDING 10px*/
.line_chart,
.line_chart_events,
.bar_chart,
.social_stats,
.iconSection,
.message_user,
.member-section h2,
.members,
.members-activity{
  display: flex;
  margin: 10px;
  padding: 10px; 
}

.dashboard-search-component{
  display: flex;
  width: calc(100vw - 20px);
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 10px 0;
  position: relative;
}

.sectionTitle{
  font-size: 15px;
}

.wrap-search-bar{
  display: flex;
  width: 65vw;
  align-items: center;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 40px;
  background-color: #c1c4f0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.wrap-search-bar input{
  width: 100%;
  border: none;
  outline: none;
  margin:  0 10px;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
}

.message-notification{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  padding: 10px;
  background-color: #7477bf;
  color: #fff;
  border-radius: 5px;
}

.line_chart{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.chartForLine{
  margin-left: 20px;
}

.line_chart_events{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.line_chart_events p{
  font-weight: bold;
}

.active-green{
  display: inline-block;
  background-color: #2ECC71;
  color: #fff;
  text-align: center;
  width: 60px;
  padding: 5px;
  border-radius: 20px;
}

.bar_chart{
  flex-direction: column;
  justify-content: space-between;
}

.bar_chart h2{
  margin-bottom: 10px;
}

.dailyTrafficChart{
  width: 100%;
  min-height: 200px;
}

.mobile_users_pie h2{
  margin-top: 20px;
  margin-left: 10px;
}

.mobile_users_pie{
  min-width: 5px;  
  padding: 0 10px;
}

.social_stats{
  display: flex;
  flex-direction: column;
}

.iconSection{
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #fafafa;
  width: calc(100vw - 60px);
  margin-left: 0;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 75px;
  height: 75px;
  background-color: #7477bf;
  border-radius: 100%;
  margin-right: 20px;
}

.svg-icon{
  width: 40px;
  height: 40px;
  fill: #fff;
}

.iconSectionDetails h2{
  margin-left: 1.2rem;
  font-weight: bold;
  color: #7477bf;
}

.iconSectionDetails p{
  margin-left: 1.1rem;
  font-size: 40px;
  font-weight: lighter;
  color: gray;
}

/*-----------MEMBERS-------------*/
.member-section{
  display: flex;
  flex-direction: column;
}

.members,
.members-activity{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-members{
  width: 70px;
  border-radius: 50%;
}

.members p:nth-of-type(2){
  color: #7477bf;
}

.recent-activity-section {
  margin-top: 20px;
}

/*-----------MESSAGE-------------*/
.message_user{
  flex-direction: column;
  justify-content: center;
}

input[id='userSearch']{
  width: calc(100vw - 60px);
  height: 60px;
  background-color: rgb(195, 194, 194);
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
  padding: 10px;
}

textarea[class="message_for_users"]{
  width: calc(100vw - 60px);
  height: 100px;
  background-color: rgb(195, 194, 194);
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
  margin-top: 20px;  
  padding: 10px;
}

form button{
  width: calc(100vw - 35px);
  height: 60px;
  background-color: #7477bf;
  border: 2px solid gray;
  border-radius: 5px; 
  color: #fff;
  font-size: 15px;
  
  outline: none;
  margin-top: 20px; 
}

/*------------SETTING-------------*/

.settings{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-section{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}

.settings-section p{
  margin: 10px 100px 10px 10px;
  padding-left: 10px;
}

.toggle-btn{
  position: absolute;
  left: 220px;
}

.toggle-btn label{
  position: relative;
  display: block;
  width: 75px;
  height: 31.5px;
  background: #fff;
  border: 3px solid #aaa;
  border-radius: 30px;
  transition: all 300ms linear;
}

.toggle-btn label:before{
  position: relative;
  content:'';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #aaa;
  border-radius: 50%;
  top: 3px;
  left: 2px;
  transition: all 300ms linear;
}

.toggle-btn label:after{
  position: relative;
  content: 'ON';
  color: #fff;
  display: none;
  top: -21px;
  left: 6px;
}

.toggle-btn input:checked + label{
  background: #7477bf;
}

.toggle-btn input:checked + label:before{
  left: 45px;
}

.toggle-btn input:checked + label::after{
  display:block;
}

.toggle-btn input{
  display: none;
}

.timezones{
  width: calc(100% - 40px);
  height: 60px;
  margin-left: 20px;
  padding: 10px;
  background-color: rgb(195, 194, 194);
  border-radius: 5px;
  outline: none;
}

.bottomBtn{
  display: flex;
  justify-content: space-around;
}

.save,
.cancel{
  width: 50%;
  height: 60px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid gray;
  color: #fff;
}

.save{
  background-color: #7477bf;
}

.cancel{
  background-color: gray;
}

@media (min-width: 768px){
  body{
    display: flex;
    flex-direction: column;
  }
  
  header{
    justify-content: space-between;
  }

  header h1{
    margin-left: 15px;
  }

  .main-div{
    flex-direction: row;
  }

  .main-nav{
    flex-direction: column;
    width: 80px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .wrap-top-nav{
    justify-content: flex-end;
    margin: 15px;
  }

  .dashboard-search-component{
    width: calc(100vw - 100px);
  }
  
  .message-notification{
    width: calc(100vw - 130px);
    justify-content: space-between;
  }

  .line_chart{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 100px);
  }

  .line_chart_events{
    display: flex;
    justify-content: flex-end;
  }
 
  .line_chart_events p{
    padding: 10px;
    margin: 0 10px;
  }

  .chartForLine{
    width: calc(100vw - 10%);
  }

  .bar-doughnut-chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 100vw;
  } 

  .dividerOnChart{
    border-left: 1px solid #aaa;
    height: 250px;
  }

.social_stats{
  display: flex;
  flex-direction: column;
}

.iconSection{
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #fafafa;
  width: calc(100vw - 60px);
  margin-left: 0;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 75px;
  height: 75px;
  background-color: #7477bf;
  border-radius: 100%;
  margin-right: 20px;
}

.svg-icon{
  width: 40px;
  height: 40px;
  fill: #fff;
}

.iconSectionDetails h2{
  margin-left: 1.2rem;
  font-weight: bold;
  color: #7477bf;
}

.iconSectionDetails p{
  margin-left: 1.1rem;
  font-size: 40px;
  font-weight: lighter;
  color: gray;
}

/*-----------MEMBERS-------------*/
.member-section{
  display: flex;
  flex-direction: column;
}

.members,
.members-activity{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-members{
  width: 70px;
  border-radius: 50%;
}

.members p:nth-of-type(2){
  color: #7477bf;
}

.recent-activity-section {
  margin-top: 20px;
}

/*-----------MESSAGE-------------*/
.message_user{
  flex-direction: column;
  justify-content: center;
}

input[id='userSearch']{
  width: calc(100vw - 60px);
  height: 60px;
  background-color: rgb(195, 194, 194);
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
  padding: 10px;
}

textarea[class="message_for_users"]{
  width: calc(100vw - 60px);
  height: 100px;
  background-color: rgb(195, 194, 194);
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
  margin-top: 20px;  
  padding: 10px;
}

form button{
  width: calc(100vw - 35px);
  height: 60px;
  background-color: #7477bf;
  border: 2px solid gray;
  border-radius: 5px; 
  color: #fff;
  font-size: 15px;
  
  outline: none;
  margin-top: 20px; 
}

/*------------SETTING-------------*/
.settings{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-section{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}
.settings-section p{
  margin: 10px 100px 10px 10px;
  padding-left: 10px;
}

.toggle-btn{
  position: absolute;
  left: 100%;
}

.toggle-btn label{
  position: relative;
  display: block;
  width: 75px;
  height: 31.5px;
  background: #fff;
  border: 3px solid #aaa;
  border-radius: 30px;
  transition: all 300ms linear;
}

.toggle-btn label:before{
  position: relative;
  content:'';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #aaa;
  border-radius: 50%;
  top: 3px;
  left: 2px;
  transition: all 300ms linear;
}

.toggle-btn label:after{
  position: relative;
  content: 'ON';
  color: #fff;
  display: none;
  top: -21px;
  left: 6px;
}

.toggle-btn input:checked + label{
  background: #7477bf;
}

.toggle-btn input:checked + label:before{
  left: 45px;
}

.toggle-btn input:checked + label::after{
  display:block;
}

.toggle-btn input{
  display: none;
}

.timezones{
  width: calc(100% - 40px);
  height: 60px;
  margin-left: 20px;
  padding: 10px;
  background-color: rgb(195, 194, 194);
  border-radius: 5px;
  outline: none;
}

.bottomBtn{
  display: flex;
  justify-content: space-around;
}

.save,
.cancel{
  width: 50%;
  height: 60px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid gray;
  color: #fff;
}

.save{
  background-color: #7477bf;
}

.cancel{
  background-color: gray;
}
}