*{
  margin: 0;
  padding: 0;  
}

body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

header{
  display: flex;
  font-size: 13px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

header .divider{
  border-left: 1px solid black;
  height: 25px;
}


header img{
  width: 35px;
  height: 35px;
}

header object{
  width: 25px;
  height: 25px;
}

.main-nav{
  display: flex;
  justify-content: center;
  border: 1px solid black
}

.main-nav div{
  margin: 10px;
  padding: 10px;
}

.main-nav div object{
  width: 35px;
  height: 35px;
}

.dashboard-search-component{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;  
}

.message-notification{
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0 60px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.line_chart{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

.line_chart_events{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

.bar_chart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.social_stats{
  display: flex;
  flex-direction: column;
}

.iconSection{
  display: flex;  
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fafafa;
  width: 280px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #7477bf;
  border-radius: 100%;
  margin-right: 20px;
}

.svg-icon{
  width: 40px;
  height: 40px;
  fill: #fff;
}

.iconSectionDetails h2{
  margin-left: 1.2rem;
  font-weight: bold;
  color: hsl(238, 47%, 54%);
}

.iconSectionDetails p{
  margin-left: 1.1rem;
  font-size: 40px;
  font-weight: lighter;
  color: gray;
}


.settings-section{
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  align-items: center;

}

.settings-section p{
  margin-right: 100px;
}

.toggle-btn{
  position: absolute;
  left: 200px;
}

.toggle-btn label{
  position: relative;
  display: block;
  width: 100px;
  height: 31.5px;
  background: #fff;
  border: 3px solid #aaa;
  border-radius: 30px;
  transition: all 300ms linear;
}

.toggle-btn label:before{
  position: relative;
  content:'';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #aaa;
  border-radius: 50%;
  top: 3px;
  left: 2px;
  transition: all 300ms linear;
}

.toggle-btn label:after{
  position: relative;
  content: 'ON';
  color: #fff;
  display: none;
  top: -18px;
  left: 6px;

}

.toggle-btn input:checked + label{
  background: rgb(133, 72, 245);
}

.toggle-btn input:checked + label:before{
  left: 70px;
}

.toggle-btn input:checked + label::after{
  display:block;
  transition: all 5s ease;
}


.toggle-btn input{
  display: none;
}